.heading{
    .heading__title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .heading__desc{
        font-size: 1.1rem;
        text-align: center;
        color: #5f7d95;
    }
}