.pokedex{
    padding: 5rem 3rem 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../assets/bg/bg-dot.png');
    // background-position: center;
    background-size: contain;
    height: 100vh;
}

.poke_Items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    padding: .5rem;

    .pokeItems_box{
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f1f1f1;
        padding: 1rem;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
            
        }

        img{
            width: 5rem;
            justify-self: center;
            transition: all .3s;
        }
        
        &:hover img{
            transform: scale(1.2) rotate(10deg);
            
        }
    }
}

.more{
    width: 100%;
    text-align: center;
    margin: 2rem 0 0 0;
    cursor: pointer;
    
    span{
        font-size: 1.3rem;
        color: #fff;
        background: crimson;
        padding: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        transition: all .3s;

        &:hover{
            border: 4px solid crimson;
            background: none;
            color: #000;

        }
    }
}

.poke_card{
    background-color: #f1f1f1;    position: absolute;
    top: 0;
    width: 100%;
    // height: 100vh;
    overflow: hidden;
    z-index: 999999;


    .onClickImage {
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .onClickImage_box{
            position: relative;
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #f1f1f1;
            padding: 2rem;
            gap: .3rem;
            border-radius: 1rem;
            z-index: 999;

            svg{
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 2rem;
                cursor: pointer;
            }
            
            img{
                width: 8rem;
            }
            span{
                margin-top: 1rem;
                color: lightgray;
            }

            .name{
                margin-top: .5rem;
                text-transform: capitalize;
                color: #192a56;
            }

            .btn{
                padding: 0.5rem;
                border-radius: .6rem;
                color: #192a56;
                text-transform: uppercase;
                font-weight: 700;
                background: lightblue;
                margin-bottom: 1rem;
            }

            .entry{
                text-transform: uppercase;
                color: #192a56;
                margin-bottom: 1rem;
            }
            .pokemon_desc{
                font-size: 14px;
                text-align: center;
                margin-bottom: 1rem;
            }

            .ability{
                text-transform: uppercase;
                color: #192a56;
                margin-bottom: .3rem;
            }

            .abilities{
                font-size: 14px;
                margin-bottom: 1rem;
            }

            .abilities_flex{
                display: flex;
                gap: 1rem;

                h3{
                    text-transform: uppercase;
                    color: #192a56;
                }
            }

            .abilities_flex-content{
                display: flex;
                gap: 1rem ;
                margin-bottom: .5rem;
                .height,
                .weight{
                    background: #7ba4cc44;
                    padding: .3rem 2rem;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 1rem;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(#000000, 0.8);
            z-index: -1;
        }
    
    }
}